<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    
    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karla&family=Spectral:wght@300&display=swap" rel="stylesheet">
 
    {% load static %}
    <link rel="stylesheet" href="{% static 'live/style.css' %}">

     <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <!-- START HEADER -->
    {% block header %}
    {% endblock %}
    <!-- END HEADER -->

    <!-- START SIDEBAR -->
    {% block sidebar %}
    {% endblock %}
    <!-- END SIDEBAR -->

    <!-- START BODY -->
    {% block body %}
    {% endblock %}
    <!-- END BODY -->
    
</body>
</html>